@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&family=Karla:wght@400;700&display=swap");

:root {
  /*  ### Primary */

  --clr-cyan: #2ab2af;
  --dark-Cyan: hsl(179, 76%, 31%);
  --bright-yellow: hsl(71, 73%, 54%);

  /* ### Neutral */

  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  font-family: "Karla", sans-serif;
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #98a6bd;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.65rem;
}

.main-container {
  max-width: 660px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .wrapper {
  width: min(40rem, 90%);
} */
h1,
h2,
a {
  font-weight: 700;
}

h1 {
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}
h2 {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  margin-top: 0.5rem; /*new*/
}

.top_section,
.first_box,
.second_box {
  padding: 2.188rem;
}

.top_section {
  background-color: #fff;
  border-radius: 7px 7px 0 0;
}
.top_section_title {
  color: var(--clr-cyan);
  /*  margin-bottom: 1.5rem;
  font-size: 1.7rem; */
}
.top_section_sub_title {
  color: var(--bright-yellow);
}
.top_section_paragraph {
  color: var(--grayish-blue);
}

.second-container {
  display: flex;
  width: 100%;
}
.first_box {
  width: 50%;
  background-color: var(--clr-cyan);
  color: #fff;
  border-radius: 0 0 0 7px;
}
.second_box {
  width: 50%;
  background-color: #4abebd;
  color: #fff;
  border-radius: 0 0 7px 0;
}

.price {
  color: var(--light-gray);
  padding: 0.4rem 0 1rem 0;
  display: flex;
  justify-content: center;
  justify-content: flex-start;
}
.price span {
  font-size: 2.2rem;
  font-weight: 700;
  color: #fff;
  margin-right: 1rem;
}

.btn {
  background-color: var(--bright-yellow);
  display: block;
  text-align: center;
  padding: 0.7rem;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  margin-top: 1.5rem; /*changed*/
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

.second_box_paragrapg {
  color: rgba(255, 255, 255, 0.6);
}
.second_box_paragrapg li {
  list-style-type: none;
  padding: 0;
  line-height: 1.4rem;
  color: var(--light-gray);
}

@media (max-width: 493px) {
  .wrapper {
    width: min(40rem, 90%);
  }
  .second-container {
    flex-direction: column;
  }
  .first_box,
  .second_box {
    width: 100%;
    border-radius: 0;
  }
}
